// These are all placeholder colours, replace them with our colours when the time comes
$primary: #46244C;
$secondary: #712B75;
$tertiary: #C74B50;
$accent: #D49B54;
$highlight: #f59b2d;
$hover: #8d4c90;
$button: #6c757d;
$box-shadow: #29152d;
$offwhite: #ffecff;
