// These are all placeholder colours, replace them with our colours when the time comes
$primary: #007bff;
$secondary: #6c757d;
$tertiary: #6c757d;
$accent: #6c757d;
$highlight: #6c757d;
$hover: #6c757d;
$button: #6c757d;
