.chat-container {
  background-color: $offwhite;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 6px;
  width: 90%;
  height: 90%;
  padding: 20px;
  margin: 0 auto;

  .messages {
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #613269;
      border-radius: 25px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $offwhite;
      border: 1px solid $hover;
      border-radius: 25px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #bc6dc0;
    }
  }

}
