.our-header {
  display: flex;
  justify-content: space-between;
  background-color: $thegrey;
  border-bottom: 1px solid black;
  color: white;
  font-size: 1.5em;
  height: 100px;
  position: relative;

  .logo-name {
    display: flex;
    align-items: center;
    margin-left: 16px;

    img {
      height: 80px;
      width: 80px;
      border-radius: 50%;
    }

    h1 {
      margin: 0 0 0 10px;
      font-size: 2.25rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    margin-right: 16px;

    button {
      background-color: $tertiary;
      text-decoration: none;
      color: white;
      font-weight: bold;
      padding: 4px 8px;
      border-radius: 8px;
      font-size: .75em;
      border: none;
      margin-right: .5rem;
      transition: 0.3s;

      &:hover {
        background-color: #da3a3f;
        border-radius: 4px;
      }
    }
  }
}

.main-banner {
  height: 75vh;
  width: 100%;
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;

  h2, h3 {
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 3.75rem;
  }
}

.guild-description {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 2.5rem;
  background-color: $thegrey;

  h2 {
    text-align: center;
    font-size: 1.75em;
  }

  p {
    font-size: 1.5em;
    margin-bottom: 0;
    width: 50%;
  }
}

.info-banner {
  overflow: hidden;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-blend-mode: darken;
  position: relative;
}

.info-banner::before {
  content: '';
  position: absolute;
  z-index: 999;
  top: 0;
  left: -5%;
  width: 110%;
  height: 100%;
  box-shadow: inset 0 0 10px 20px $thegrey;
  backdrop-filter: blur(7px);
}

.join-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $thegrey;
  color: white;
  background-blend-mode: darken;
  padding: 60px 0;

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  button {
    font-size: 2.25rem;
    background-color: $tertiary;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 16px;
    padding: 15px 40px;
    transition: 0.3s;

    &:hover {
      background-color: #da3a3f;
      border-radius: 8px;
    }
  }
}

.text-wrapper {
  z-index: 999999;
  background-color: $secondary;
  padding: 40px 40px;
  border-radius: 8px;
  width: 50%;

  h2 {
    text-align: center;
    font-size: 1.75em;
    color: white;
  }

  p {
    font-size: 1.5em;
    margin-bottom: 0;
    color: white;
  }
}

.spacer {
  height: 10vh;
  background-color: $thegrey;
}

.parallax {
  min-height: 500px;

  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.banner-image {
  background: rgba(0, 0, 0, .5) url('guild-banner-1.jpg');
}

.event-image {
  background: rgba(0, 0, 0, .5) url('event_scheduling.png');
}

.chat-image {
  background: rgba(0, 0, 0, .5) url('chat.png');
}

.member-image {
  background: rgba(0, 0, 0, .5) url('members.png');
}
