<div class="message">
  <div class="message-details">
    <p><%= message.member.username %></p>
    <p><%= message.created_at.strftime("%e %b %Y, %l:%M %p") %></p>
  </div>

  <p class="message-content"><%= message.content %></p>
</div>
