.card-container {
  display: flex;
  height: 90%;
  justify-content: center;
}

.game-member-card-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin-bottom: 20px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #613269;
    border-radius: 25px;
  }

  &::-webkit-scrollbar-thumb {
    background: $offwhite;
    border-radius: 25px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #bc6dc0;
  }
}

.game-member-card {
  position: relative;
  z-index: 10;
  width: 250px;
  height: 350px;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.5s;

  .card-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 50;
    transition: .5s;
    background-color: black;
    background-position: center;
    background-size: cover;

    &:hover {
    opacity: 0.4;
    transition: .5s;
    }
  }
}

.game-member-card:hover .card-image {
  transform: translateY(-120px);
  transition: all .9s;
}

.card-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  bottom: 0;
  left: 0;
  background: $secondary;
  width: 100%;
  height: 120px;
  z-index: 20;
  padding: 10px;

  p {
    margin: 5px 0;
    padding: 0;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 3px;
  }
}

.action-wrapper {
  position: relative;
  transition: .5s;
  opacity: 0;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;

  &:hover {
    opacity: 100;
    transition: 0.3s;
  }
}
.remove {
  background-color: $tertiary;
  z-index: 60;
  text-align: center;
  display: inline;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
}

.edit {
  background-color: $accent;
  z-index: 60;
  text-align: center;
  display: inline;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    color: white;
    text-decoration: none;
    background-color: $accent;
    cursor: pointer;
    outline: none;
    border: none;
  }
}

.card-plus-button {
  width: 250px;
  height: 350px;
  border-radius: 16px;
  background-color: $primary;
  overflow: hidden;
  border: 0px;
  transition: 0.3s ease;

  p {
    font-size: 100px;
  }

  &:hover {
    background-color: $secondary;
  }

  &:active {
    background-color: $hover;

    p {
      font-size: 80px;
    }
  }
}
