.main-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $primary;
  height: 80%;
  width: 80%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.members-container {
  overflow-y: scroll; // Re-style this later
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 90%;
  height: 90%;

  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #613269;
    border-radius: 25px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $offwhite; // Just because of the colour, not actually a hover effect
    border-radius: 25px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #bc6dc0;
  }
}

.member {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &:last-child {
    // So that extra margin isn't added to the last game element (so it doesnt look weird)
    margin-bottom: 0;
  }

  .dropdown {
    background-color: $offwhite;
    border: 1px solid $secondary;
    display: flex;
    height: 75px;
    min-height: 75px;
    width: 100%; // Just in case CSS does some fuckery
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;

    &:hover {
      background-color: #b372b7;
    }

    &.member-active {
      border-radius: 10px 10px 0 10px;
    }
  }

  .member-details {
    display: flex;
    align-items: center;

    p {
      margin: 0;
      font-family: $headers-font;
      font-size: 1.5rem;
      font-weight: bold;
    }

    img {
      margin: 0 10px;
      height: 70px;
      width: 70px;
      border-radius: 50%;
    }

  }

  .edit-member {
    background-color: $tertiary;
    border: none;
    border-radius: 8px;
    height: 40px;
    margin-right: 10px;
    transition: 0.3s;

    &:hover {
      background-color: #de373c;
      border-radius: 4px;
    }

    p { margin: 0; }
  }

  .dropdown-icon {
    margin-right: 10px;
    transition: 0.3s;

    &.dropdown-active {
      transform: rotate(-90deg);
    }
  }

  .member-content {
    background-color: $secondary;
    width: 90%;
    transition: 0.3s, padding 0s 0.25s;
    opacity: 0;
    visibility: hidden;
    max-height: min-content;
    height: 0px;
    color: white;
    border-radius: 0 0 10px 10px;
    padding: 0px;
  }

  .content-active {
    visibility: visible;
    max-height: min-content;
    transition: 0.3s, padding 0.25s 0s;
    height: 100%;
    opacity: 1;
    padding: 20px;
  }
}

.game {
  transition: 0.3s, opacity 0s 0.25s;
  display: flex;
  border-radius: 8px;
  background-color: $offwhite;
  color: black;
  height: 0px;
  opacity: 0;

  &:last-child {
    // So that extra margin isn't added to the last game element (so it doesnt look weird)
    margin-bottom: 0;
  }
}

.game-active {
  transition: 0.3s, opacity 0.25s 0s;
  align-items: center;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
  opacity: 1;

  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  h3 { margin: 0 10px; font-size: 1.45rem;}
}

.in-game-name {
  color: $secondary;
  text-decoration: solid;
  font-family: $body-font;
  font-size: 18px;
}
