.event-info{
 display: grid;
 grid-template-columns: 1fr 2fr;
 gap: 20px;
 margin-left: 20px;
}
.event-name {
  color: $white;
  grid-column: 1;
}
.event-members {
  grid-column: 2;
  color: white;
  text-align: center;
}
.text-align-center {
  text-align: center;
  width: 90%;
}

.event-member-grid-container {
  max-height: 400px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #613269;
    border-radius: 25px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $offwhite;
    border-radius: 25px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #bc6dc0;
  }
}
.event-member-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 10px;
}
.event-member-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}
.event-member-image {
  max-width: 60%;
  max-height: 60%;
}
.event-member-name {
  margin-top: 5px;
  color:white;
}

.in-button {
  background-color: $secondary;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.out-button {
  background-color: $accent;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
