.event {
  display: grid;
  justify-content: center;
  grid-template-columns: 2fr 3fr;
  max-height: 90%;

  .event-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    margin: 0 15px 50px ;

    .title-buttons {
      display: flex;

      button {
        margin-left: 20px;
        color: black;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100px;
      }

      .in-button {
        background-color: $secondary;
      }

      .out-button {
        background-color: $tertiary;
      }
    }

    h2, p {
      color: white;
      text-align: center;

    }

    h2 {
      font-size: 2.5rem;
    }

    .event-times {
      margin-top: 8px;
      font-style: italic;
    }

    .event-description {
      text-align: left;
      font-size: 1.5rem;
      font-style: normal;
    }
  }

  .event-members {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 15px 50px 0;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #613269;
      border-radius: 25px;
    }

    &::-webkit-scrollbar-thumb {
      background: $offwhite;
      border-radius: 25px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #bc6dc0;
    }

    .event-member {
      margin: 5px 10px;
      background-color: $secondary;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        height: 175px;
        width: 170px;
        object-fit: cover;
      }

      p {
        color: white;
        margin-top: 1rem;
      }
    }
  }
}
