.container-sidebar {
  width: 250px;
  background-color: $primary;
  display : flex;
  flex-direction: column;
  height: calc(100vh - 75px);
  font-family: "Work Sans", "Helvetica", sans-serif;
}

.homepage-btn {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.line {
  border-bottom: 1px solid $offwhite;
  width: 90%;
  margin: 0 auto;
}

.home-btn {
  background-color: #712B75;
  text-decoration: none;
  width: 90%;
  border-radius: 10px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  color: $offwhite;
  transition: ease 0.5s;
  font-size: 22px;
  font-family: $body-font;

  &:hover {
    background-color: #8d4c90;
    border-radius: 5px;
  }
}

.games-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.games-item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  width: 90%;
  color: $offwhite;
  font-size: 16px;
  margin: 10px 0px;
  background-color: #712B75;
  border-radius: 10px;
  transition: ease 0.3s;

  img {
    margin: 0px 10px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    object-fit: cover;
  }

  &:hover {
    background-color: #8d4c90;
    border-radius: 5px;
  }

  p {
    margin: 0;
    margin-right: 2px;
  }
}

.game-btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: $body-font;

  .add-game {
    background-color: #D49B54;
    text-decoration: none;
    width: 60%;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    color: black;
    transition: ease 0.5s;
    font-size: 16px;

    &:hover {
      background-color: #c3873f;
      border-radius: 5px;
      color: $offwhite;
    }
  }
}

.game-redirect-btn {
  text-decoration: none;
  color: white;
  font-family: $headers-font;
}
