ul,
li {
  list-style: none;
  margin: 0px;
}

.tabs {
  // height: 100%;
  font-family: "Nunito", "Helvetica", "sans-serif";
  // margin-left: 20%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 80%;
  padding: 0 40px;
}

.upper-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;

  .tabs {
    display: flex;
  }

  .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    background-color: $secondary;
    padding: 5px 15px;
    transform: skew(-22deg);
    border-radius: 8px 6px;
    transition: 0.25s;
    border: none; // This is fucking stupid
    text-decoration: none;
    font-family: $body-font;


    p {
      text-transform: uppercase;
      transform: skew(22deg);
      margin: 0;
      color: white;
    }

    &:hover {
      background-color: $hover;
      cursor: pointer;
    }

    // .add {
    //   background-color: $accent;
    //   color: white;
    //   font-family: $body-font;
    //   font-style: normal;
    //   width: 250px;
    //   height: 350px;
    //   border-radius: 16px;
    //   overflow: hidden;
    //   p {
    //     transform: skew(22deg);
    //     font-size: 500%;
    //   }
    // }
  }


  .editbtn {
    margin-right: 0;
    color: white;
    font-family: $body-font;
    padding: 0 15px;
    border-radius: 8px 0 0 6px;

    p {
      transform:skew(22deg);
    }
  }

  .delete {
    margin-left: 0;
    background-color: $tertiary;
    padding: 5px 15px;
    border-radius: 0 6px 8px 0;
  }

  .invite {
    width: 100px;
    background-color: $accent;
    p {
      color: black;
    }
    &:hover {
      background-color: white;
    }
  }
}

.event-btn {
  text-decoration: none;
  color: white;
}
