ul,
li {
  list-style: none;
  margin: 0px;
}

.tabs {
  // height: 100%;
  font-family: "Nunito", "Helvetica", "sans-serif";
  // margin-left: 20%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 80%;
  padding: 0 40px;
}

.breadcrumb {
  display: flex;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  top: 50%;
  width: 100%;
  height: 40px;
  transform: translateY(-50%);
  z-index: 1;
  justify-content: start;
}

.breadcrumb__item {
  height: 100%;
  background-color: $secondary;
  color: #ffffff;
  font-family: "Nunito", "Helvetica", "sans-serif";
  border-radius: $border-radius;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transform: skew(-21deg);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  margin: 5px;
  padding: 0 40px;
  cursor: pointer;
}

.breadcrumb__item:hover {
  background: $hover;
  color: #fff;
  box-shadow: 0 2px 5px $box-shadow;
}

.breadcrumb__inner {
  display: flex;
  flex-direction: column;
  margin: auto;
  z-index: 2;
  transform: skew(21deg);
}

.breadcrumb__title {
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  color: white;
}

@media all {
  .breadcrumb {
    height: 35px;
  }

  .breadcrumb__title {
    font-size: 11px;
  }
  .breadcrumb__item {
    padding: 0 30px;
  }
}

@media all and (max-width: 710px) {
  .breadcrumb {
    height: 30px;
  }
  .breadcrumb__item {
    padding: 0 20px;
  }
}

.upper-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;

  .tabs {
    display: flex;
  }

  .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    background-color: $secondary;
    padding: 0 10px;
    transform: skew(-22deg);
    border-radius: 8px 6px;
    transition: 0.25s;
    border: none; // This is fucking stupid

    p {
      text-transform: uppercase;
      transform: skew(22deg);
      margin: 0;
      color: white;
    }

    &:hover {
      background-color: $hover;
      cursor: pointer;
    }

    a {
      color: white;
      text-decoration: none;
      font-family: $body-font;
    }
  }

  .invite {
    width: 170px;
  }
}

.event-btn {
  text-decoration: none;
  color: white;
}
