<div class="container-sidebar" data-controller="display-modal">
  <div class="homepage-btn">
    <%=link_to "Home", guild_path(locals[:guild]), class: "home-btn" %>
  </div>
  <span class="line"></span>
  <div class="games-list">
    <% locals[:games].each do |game| %>
      <div class="games-item">
        <%= cl_image_tag(game.game_icon.key) %>
        <p><%=link_to game.name, game_path(game), class: "game-redirect-btn"%></p>
      </div>
    <% end %>
  </div>
  <span class="line"></span>
  <div class="game-btn">

    <%=link_to "Add a game", new_guild_game_path(locals[:guild]), class: "add-game" %>
  </div>
</div>
